@font-face {
    font-family: "games";
    src: url("./fonts/games.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "title";
    src: url("./fonts/title.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "subtitle";
    src: url("./fonts/subtitle.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

:root {
    --fon: #000000;
    --header: #ffffff;
    --rows: #1a1a1a;
    --text: #b5c9d9;
    --textalt: #4b5454;
    --texthover: #ffffff;
}